<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>pro08</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- 작성하는 이유는 java 파일과 xml로 하는 이유는 분리 변수를 한번에 관리 -->
  <context-param>
  <param-name>menu_member</param-name>
  <param-value>회원등록 회원조회 회원수정</param-value>
  </context-param>
  
  <context-param>
  <param-name>menu_order</param-name>
  <param-value>주문조회 주문등록 주문수정 주문취소</param-value>
  </context-param>
  
  <context-param>
  <param-name>menu_goods</param-name>
  <param-value>상품조회 상품등록 상품수정 상품삭제</param-value>
  </context-param>
  <!--  -->
  
  <!-- 서블릿 증록 + initparam -->
  <servlet>
  
  <servlet-name>menu</servlet-name>
  <servlet-class>sec02.ex02.ContextParamServlet</servlet-class>
  
  <init-param>
  <param-name>configuration</param-name>
  <param-value>/WEB-INF/spring/spring.xml</param-value>
  </init-param>
  
  <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>menu</servlet-name>
  <url-pattern>/initMenu</url-pattern>
  <url-pattern>/menu</url-pattern>
  </servlet-mapping>
  <!--  -->
  
  
</web-app>